//Variables
$button-color: #0d6efd;
$white: #fff;
$text-muted: rgba(255, 255, 255, .4);
$background: #202020;
$border-color1: rgba(0, 0, 0, .1);
$border-color2: #303030;
$footer: #333;
$width: 100%;
$button-padding: 0.5em 1.5em;
$button-radius: 6px;

/* sass:math is for the make-column mixin*/
@use "sass:math";
@use "nav.scss";

@mixin border{
  border-top: 1px solid;
}

@mixin list-style{
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin make-column($width){
  width: math.percentage(math.div($width, 12));
}

//styles
body {
  background: $background url('/images/footer-bg.jpg') repeat;
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;

  a {
    color: inherit;
    text-decoration: none;
  }
}

strong,
b {
  font-weight: bold;
  color: #000000;
}

em,
i {
  font-style: italic;
}

a {
  color: $button-color;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

/*hr styles
use border mixin*/
hr {
  border: 0;
  @include border;
  border-color: #ddd;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1em;
}

//header styles
header {
  margin-bottom: 2em;
  line-height: 1.7em;

  h2 {
    font-size: 2.5em;
  }

  .byline {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0 0 0.5em 0;
    text-transform: uppercase;
    font-size: 1.4em;
  }
}

section,
article {
  margin-bottom: 3em;

  > :last-child {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
}

footer {
  margin-top: 1em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &.small {
    width: 900px;
  }

  &.big {
    width: $width;
    max-width: 1500px;
    min-width: 1200px;
  }
}

.row {
  margin-left: -50px;

  section,
  article {
    margin-bottom: 0;
  }

  &:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }

  [class*='column-'] {
    padding: 50px 0 0 50px;
    float: left;
    box-sizing: border-box;
  }
}

/*make column for 1 to 12
use make-column mixin*/
@for $i from 1 through 12 {
  .column-#{$i} {
    width: $width;
  }
}

@media all and (min-width: 576px) {
  @for $i from 1 through 12 {
    .column-#{$i} {
      @include make-column($i);
    }
  }
}

//nested image style
.image {
  display: inline-block;

  &.featured {
    display: block;
    width: $width;
    margin: 0 0 2em 0;
  }

  &.full {
    display: block;
    width: $width;
    margin-bottom: 2em;
  }

  &.left {
    float: left;
    margin: 0 2em 2em 0;
  }

  &.centered {
    display: block;
    margin: 0 0 2em 0;

    img {
      margin: 0 auto;
      width: auto;
    }
  }

  img {
    display: block;
    width: $width;
  }
}

//unlisted list
ul.default {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);

  &:hover {
    text-decoration: underline;
  }
  }
}

/*unlisted list with style 1
use list-style mixin and border mixin*/
ul.style1 {
  @include list-style;

  li {
    padding: 0.60em 0em;
    @include border;
    border-color: $border-color1;

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }
}

/*unlisted list with style 2
use list-style mixin and border mixin*/
ul.style2 {
  @include list-style;

  li {
    padding: 1.90em 0em 1.60em 0em;
    @include border;
    border-color: $border-color1;

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }

  img {
    float: left;
    padding-right: 1em;
  }
}

//unlisted list with style5
ul.style5 {
  overflow: hidden;
  margin: 0em 0em 1em 0em;
  padding: 0em;
  list-style: none;

  li {
    float: left;
    padding: 0.25em 0.25em;
    line-height: 0;
  }
}

/*list styles
use border mixin*/
li {
  display: block;
  padding: 2em 0em 1.25em 0em;
  @include border;
  border-color: $border-color2;

  &:first-child {
    padding-top: 0em;
    border-top: none;
  }
}

//button styles
.button {
  position: relative;
  display: inline-block;
  margin-top: 0.5em;
  padding: $button-padding;
  background: $button-color;
  border-radius: $button-radius;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: $white;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  cursor: pointer;

  &:hover {
    background: $button-color;
    color: $white !important;
  }
}

.header {
  position: relative;
  background: $white;

  .container {
    position: relative;
    padding: 4em 0em;
  }
}

.logo {
  position: absolute;
  left: 0em;
  top: 3em;

  a {
    display: block;
    text-decoration: none;
    font-size: 2.8em;
    font-weight: 600;
  }
}

.banner {
  position: relative;
  padding: 12em 0em;
  background: url('/images/banner.jpg') no-repeat center;
  background-size: cover;
  color: $white;
}

.page {
  position: relative;
  background: $white;
}

/*main class styles
use border mixin*/
.main {
  @include border;
  border-color: rgba(0, 0, 0, .2);
}

.sidebar header h2 {
  font-size: 1.6em;
}

//footer styles
.footer {
  position: relative;
  color: $text-muted;

  h2 {
    padding-bottom: 1.5em;
    font-size: 1.6em;
    color: $white;
  }

  strong {
    color: rgba(255, 255, 255, .7);
  }
}

/*copywriter class styles
use border mixin*/
.copyright {
  position: relative;
  padding: 3em 0em;
  @include border;
  border-color: $border-color2;
  letter-spacing: 1px;
  text-align: center;
  color: $text-muted;

  a {
    text-decoration: none;
    color: $text-muted !important;
  }
}

.marketing {
  position: relative;

  header h2 {
    font-size: 1.6em;
  }
}

.featured {
  position: relative;

  .divider {
    border-bottom: 1px solid $border-color2;
  }

  .box {
    background: $white;
    padding: 1.4em;
    font-size: 0.95em;
    border-radius: 5px;
  }
}

.balloon {
  padding: 1.87em;
  background: url('/images/balloon-bg.jpg') repeat left top;
  border-radius: 5px;
  line-height: 180%;
  font-size: 1.2em;
  color: $footer;

  strong {
    color: $footer !important;
  }
}

.ballon-bgbtm {
  height: 1.87em;
}
